body {
  font-family: 'EB Garamond', serif;
  background-color: #f2f8fc;
  color: #34495e;  
  line-height: 1.8;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

ul {
  font-size: 20px;
}

button {
  font-family: 'EB Garamond', serif;
}

h2 {
  font-size: 2.3em;
  color: #2a4d69;
  border-bottom: 2px solid #a0c4e3;
  padding-bottom: 5px;
  margin-top: 40px;
}

h3 {
  font-size: 1.6em;
  color: #3a5a78;
  margin-top: 20px;
}

.toggle-btn {
  background-color: #d3e8f6;
  color: #2a4d69;
  border: none;
  padding: 12px 18px;
  margin: 10px 0;
  font-size: 1.2em;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.toggle-btn:hover {
  background-color: #b8d8ef;
}

.toggle-content {
  background-color: #ecf5fb;
  border-left: 4px solid #7fb1d2;
  padding: 12px 18px;
  margin-bottom: 22px;
  display: none;
  border-radius: 4px;
  font-size: 1.05em;
}

ul {
  padding-left: 22px;
}

ul li {
  margin-bottom: 6px;
}

section {
  margin-bottom: 45px;
}

.work-list {
  margin-top: 22px;
}

#collapse-all, #expand-all {
  background-color: #d3e8f6;
  color: #2a4d69;
  border: none;
  padding: 12px 18px;
  margin: 10px 10px 10px 0;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

#collapse-all:hover, #expand-all:hover {
  background-color: #b8d8ef;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: auto; 
  padding: 12px 0;
}

img {
  height: 400px;
  width: auto;
  transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

#table-of-contents a {
  color: #2a4d69;
  text-decoration: none;
}

#table-of-contents a:hover {
  color: #1b3b54;
  text-decoration: underline;
}

#table-of-contents a:visited {
  color: #5a7892;
}

ul a {
  color: #2a4d69;
  text-decoration: none;
}

ul a:hover {
  color: #1b3b54;
  text-decoration: underline;
}

ul a:visited {
  color: #5a7892;
}

.floating-toc-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4d88a8;
  color: #f2f8fc;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  z-index: 1000;
  text-decoration: none;
  transition: background-color 0.3s;
}

.floating-toc-button:hover {
  background-color: #3a6c8b;
}

.back-button a {
  color: #2a4d69;
  text-decoration: none;
}

.back-button a:hover {
  color: #1b3b54;
  text-decoration: underline;
}

.back-button a:visited {
  color: #5a7892;
}